h1, h2, h3, p {
    padding: 0;
    margin: 0;
    display: inline;
}

h3{
    font-size: 20px;
}

.content {
    display: flex;
    justify-content: center;
    background-color: rgb(202, 202, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1500px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: white;
    margin: 5%;
    border-radius: 25px;
}

.main .header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.main .header .header-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    font-size: 2.7rem;
    background-color: rgba(0, 94, 217, 0.788);
    color: white;
    cursor: pointer;
}

.main .two-col {
    width: 80%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.two-col .left-col, .two-col .right-col {
    width: 50%;
    height: 23rem;
    border-radius: 15px;
    border: 1px solid grey;
}

.two-col .left-col, .two-col .right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-col .left-col{
    overflow: scroll;
}

.two-col .right-col{
    height: fit-content;
}

.two-col, .left-col input:nth-child(1) {
    border: none;
    width: 100%;
    border-radius: 15px;
    padding: 20px 0;
    font-size: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-list .contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0;
    font-weight: 400;
    border-top: 1px solid rgb(187, 187, 187);
}

.contact-list .contact .contact-name{
    cursor: pointer;
}

.contact-list .contact .contact-action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.contact-list .contact .contact-action-buttons button, 
.right-col .contact-deets .address button {
    padding: 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

.two-col .right-col .contact-deets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    gap: 15px;
    font-size: 1.3rem;
    padding: 15px 0;
}

.two-col .right-col .contact-deets h3 {
    width: 40%;
    line-height: 30px;
    font-size: 2rem;
    font-weight: 500;
}

.two-col .right-col .contact-deets .address-1 p,  .two-col .right-col .contact-deets .address-2 p{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.two-col .right-col .contact-deets > img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    align-self: flex-end;
}

.two-col .right-col .contact-deets .address {
    width: 100%;
}

.two-col .right-col .contact-deets .address-1,
.two-col .right-col .contact-deets .address-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.create-contact .form-element {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-contact .form-element input {
    height: 2rem;
    width: 50%;
}

.create-contact .form-element label {
    justify-self: flex-end;
}

.create-contact #submit {
    padding: 15px 30px;
    border-radius: 20px;
    border-top: none;
    border-left: none;
}

@media (max-width: 756px) {
    .content .main .two-col {
        flex-direction: column;
    }

    .content .main .two-col .left-col, 
    .content .main .two-col .right-col {
        width: 100%;
        height: fit-content;
    }

    .two-col .right-col .contact-deets > img {
        width: 8rem;
        height: 8rem;
    }
}

@media (max-width: 456px) {
    .main .header {
        width: 90%;
    }

    h1 {
        font-size: 1.8rem;
    }

    .two-col .right-col .contact-deets > img {
        width: 8rem;
        height: 8rem;
        align-self: center;
    }

    .two-col .right-col .contact-deets h3 {
        width: 60%;
        line-height: 30px;
        font-size: 1.7rem;
    }

    .main .header .header-button {
        width: 3rem;
        height: 3rem;
    }

    .content .main {
        width: 80%;
    }
}

@media (max-width: 350px) {
    p {
        font-size: 1rem;
    }

    h3, .two-col .right-col .contact-deets h3 {
        font-size: 1.4rem;
        width: 100%;
    }

    .content .main {
        width: 90%;
    }

    .contact-list .contact {
        width: 90%;
    }
}

.redBox {
    border: 2px solid red;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

#create-contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "firstName lastName"
        "phone phone"
        "email email"
        "address1 address2"
        "profile profile"
        ". buttonDiv";
    width: 100%;
    align-items: center;
    justify-content: center;
}

#create-contact-form input{
    width: 70%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
}

#create-contact-form .buttonDiv{
    display: flex;
    grid-area: buttonDiv;
    gap: 7px;
}

#create-contact-form .buttonDiv #submit, #create-contact-form .buttonDiv .close-button{
    display: flex;
    grid-area: buttonDiv;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 15px;
    padding: 10px 20px;
}

.create-contact #submit{
    width: 90%;
    background-color: rgb(19, 105, 255);
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: 10px;
    grid-area: submitButton;
    border: 2px solid white;
}

.create-contact .close-button{
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(0, 98, 255);
    color: rgb(0, 98, 255);
    padding: 10px;
    cursor: pointer;
}

.firstName-element{
    grid-area: firstName;
}

.lastName-element{
    grid-area: lastName;
}

.phone-element{
    grid-area: phone;
}

.email-element{
    grid-area: email;
}

.address1-element{
    grid-area: address1;
}

.address2-element{
    grid-area: address2;
}

.profile-element{
    grid-area: profile;
}

.firstName-element, .lastName-element, .phone-element, .email-element, .address1-element, .address2-element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-deets .address .address-1 input, .contact-deets .address .address-2 input{
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(0, 119, 255);
}

.modal-overlay .confirmation-dialog
{
    background-color: white;
    width: 30%;
    height: 20%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 20px;
}
.modal-overlay .confirmation-dialog .buttonDiv
{
    display: flex;
    width: 60%;
    justify-content: space-between;
    gap: 10px;
}
.modal-overlay .confirmation-dialog .buttonDiv button
{
    width: 100%;
    height: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgb(74, 128, 221);
    border: 1px solid white;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}